<body style="background: #c6e0de; z-index: -1;">
	<div style="margin-top: 5%; padding: 5%; text-align: center; font-size: 23px; font-weight: 700;">
		<p>Xin chào, cảm ơn bạn đã ghé thăm Blog của tôi. 
		Tôi là Thành, một người mang trong mình sứ mệnh đưa đất nước sánh vai với cường quốc năm châu theo lời bác Hồ dạy. Và tôi đang dấn thân vào con đường trở thành một Developer.</p>
		<p style="text-align: left;">Quan niệm của tôi: Mọi thứ đều cần "duyên".</p>
		<p style="text-align: center;">Bạn muốn biết thêm về tôi? Vậy thì tự tìm hiểu đi. :)</p>
		<img src="https://thiepmung.com/images/frame/frame_demo/che-anh-thi-cu-157389a93e29ce.jpg">
	</div>
</body>
