<body style="background: #f7e69e; z-index: -1;">
	<div style="margin-top: 5%; padding: 5%; text-align: center; font-size: 23px; font-weight: 700;">
		<p>Bạn muốn có một Blog như tôi? Hãy liên lạc với tôi qua số điện thoại: 097691049x. Như tôi đã nói ở phần About, nếu chúng ta có duyên thì bạn chỉ cần đến lần thứ 3 là sẽ gọi được cho tôi rồi. Chúc bạn may mắn! hihi.</p>
		
		<p>Blog của tôi đang được rất nhiều người quan tâm và theo dõi. Bạn muốn chia sẻ kiến thức đến nhiều người nhưng không có chỗ đăng bài? Hãy gửi bài viết vào <a href="#">đây</a> và tôi sẽ đăng giúp bạn (tôi sẽ ghi tác giả là tên bạn).</p>
	
		<p>Liên hệ với tôi qua Email: </p>
		<a class="email" href="" >hequanlysinhvienact@gmail.com</a>
		
	</div>
</body>