<%= render 'home/hellouser' %>
<h1 class="margintop">Editing Post</h1>

<%= render 'form', post: @post %>
<div class="container">
	<div class="floatright">
		<%= link_to 'Show', @post %> |
		<%= link_to 'Back', posts_path %>
	</div>
</div>
